In [1]:
from sqlalchemy import create_engine, text
import pandas as pd

In [3]:
# Conexión con la base de datos
url = f'postgresql://postgres:sergio9494@localhost:5432/Futbol24-25'
#consulta = "SELECT jornada, equipo, localia, tiempo_acumulado, tiempo_defendiendo_local, tiempo_defendiendo_visitante, accion FROM \"partidos\" INNER JOIN \"eventos\" ON partidos.id_partido = eventos.id_partido WHERE partidos.competicion = 'LaLiga'"
consulta = "SELECT jornada, equipo, competicion, localia, x, situacion, tiempo_acumulado, tiempo_defendiendo_local, tiempo_defendiendo_visitante, accion FROM \"partidos\" INNER JOIN \"eventos\" ON partidos.id_partido = eventos.id_partido"
engine = create_engine(url)
resultado = engine.connect().execute((text(consulta)))
df_datos = pd.DataFrame(resultado.fetchall(), columns=resultado.keys())
df_datos

,jornada,equipo,competicion,localia,x,situacion,tiempo_acumulado,tiempo_defendiendo_local,tiempo_defendiendo_visitante,accion
0,1,Athletic Club,LaLiga,local,50.0,,0.0,0.0,0.0,Pase
1,1,Athletic Club,LaLiga,local,42.4,,3.0,0.0,3.0,Pase
2,1,Athletic Club,LaLiga,local,65.5,Duelo ofensivo,5.0,0.0,5.0,Duelo aereo
3,1,Getafe,LaLiga,visitante,34.5,Duelo defensivo,5.0,0.0,5.0,Duelo aereo
4,1,Athletic Club,LaLiga,local,66.3,,6.0,0.0,5.0,Pase
...,...,...,...,...,...,...,...,...,...,...
1450017,11,Antalyaspor,Super Lig,visitante,0.0,None,NaN,NaN,NaN,Final segunda parte
1450018,11,Antalyaspor,Super Lig,visitante,0.0,None,NaN,NaN,NaN,Final segunda parte
1450019,11,Antalyaspor,Super Lig,visitante,0.0,None,NaN,NaN,NaN,Final segunda parte
1450020,11,Antalyaspor,Super Lig,visitante,7.9,Juego abierto,1388.0,485.0,583.0,Gol recibido
1450021,11,Antalyaspor,Super Lig,visitante,1.8,Jugada ensayada,1753.0,633.0,709.0,Gol recibido

In [4]:
# Dataframe con la media de la altura donde se cometen las faltas
df_coordenadas = df_datos[['equipo','x']].loc[df_datos.accion == 'Falta cometida'].reset_index(drop=True)
df_coordenadas = df_coordenadas.groupby('equipo', as_index=False).mean()
df_coordenadas

              equipo          x
0           AC Milan  60.214286
1    AVS Futebol SAD  55.200000
2         AZ Alkmaar  51.717857
3    Adana Demirspor  56.803704
4               Ajax  52.681915
..               ...        ...
170    Werder Bremen  55.823256
171         West Ham  53.244361
172        Willem II  52.179675
173        Wolfsburg  53.842342
174           Wolves  49.723622

[175 rows x 2 columns]

In [5]:
# Dataframe con la media de la altura donde se realizan duelos defensivos
df_duelos_defensivos = df_datos[['equipo','x']].loc[df_datos.situacion == 'Duelo defensivo'].reset_index(drop=True)
df_duelos_defensivos = df_duelos_defensivos.groupby('equipo', as_index=False).mean()
df_duelos_defensivos = df_duelos_defensivos.rename(columns={'x': 'x_duelos_defensivos'})
df_duelos_defensivos

              equipo  x_duelos_defensivos
0           AC Milan            35.841695
1    AVS Futebol SAD            33.573537
2         AZ Alkmaar            37.710707
3    Adana Demirspor            32.776437
4               Ajax            38.534295
..               ...                  ...
170    Werder Bremen            34.496732
171         West Ham            33.138211
172        Willem II            33.391441
173        Wolfsburg            34.540936
174           Wolves            31.554779

[175 rows x 2 columns]

In [6]:
# Dataframe con los tiempos efectivos de todos los partidos
df_tiempo = df_datos[['jornada','equipo','localia','tiempo_acumulado','tiempo_defendiendo_local','tiempo_defendiendo_visitante','competicion']]
df_tiempo = df_tiempo.groupby(['jornada','equipo'], as_index=False).max()
df_tiempo

,jornada,equipo,localia,tiempo_acumulado,tiempo_defendiendo_local,tiempo_defendiendo_visitante,competicion
0,1,AC Milan,local,3381.0,1255.0,1700.0,Serie A
1,1,AVS Futebol SAD,local,3134.0,1145.0,1352.0,Liga Portugal
2,1,AZ Alkmaar,visitante,3504.0,1595.0,1270.0,Eredivisie
3,1,Adana Demirspor,visitante,2961.0,1124.0,1298.0,Super Lig
4,1,Ajax,local,3588.0,1466.0,1460.0,Eredivisie
...,...,...,...,...,...,...,...
1587,13,Stoke,visitante,3561.0,1595.0,1537.0,Championship
1588,13,Sunderland,visitante,3514.0,1803.0,1984.0,Championship
1589,13,Swansea,visitante,3372.0,1895.0,1748.0,Championship
1590,13,WBA,visitante,3604.0,1729.0,2258.0,Championship
1591,13,Watford,visitante,3373.0,1649.0,1773.0,Championship

In [7]:
# Contar el número de veces que aparece cada equipo para saber el nº de partidos que ha disputado
df_equipos = df_tiempo[['equipo','competicion']]
df_partidos = df_tiempo[['equipo']]
df_partidos = df_partidos.rename(columns={'equipo': 'partidos'})
df_partidos = pd.concat([df_equipos, df_partidos], axis=1)
df_partidos = df_partidos.groupby(['equipo','competicion'], as_index=False).count()
df_partidos

              equipo     competicion  partidos
0           AC Milan         Serie A        10
1    AVS Futebol SAD   Liga Portugal        10
2         AZ Alkmaar      Eredivisie        11
3    Adana Demirspor       Super Lig        10
4               Ajax      Eredivisie        10
..               ...             ...       ...
170    Werder Bremen      Bundesliga         9
171         West Ham  Premier League        10
172        Willem II      Eredivisie        11
173        Wolfsburg      Bundesliga         9
174           Wolves  Premier League        10

[175 rows x 3 columns]

In [8]:
# Dataframe con los tiempos efectivos de los partidos como local
df_tiempo_local = df_tiempo.loc[df_tiempo.localia == 'local'].reset_index(drop=True)
df_tiempo_local = df_tiempo_local.drop(columns=['jornada','localia','tiempo_defendiendo_visitante','competicion']).reset_index(drop=True)
df_tiempo_local = df_tiempo_local.groupby('equipo', as_index=False).sum()
df_tiempo_local = df_tiempo_local.rename(columns={'tiempo_defendiendo_local': 'tiempo_defendiendo'})
df_tiempo_local

              equipo  tiempo_acumulado  tiempo_defendiendo
0           AC Milan           16629.0              6241.0
1    AVS Futebol SAD           18778.0              8304.0
2         AZ Alkmaar           17291.0              7142.0
3    Adana Demirspor           14807.0              5661.0
4               Ajax           18591.0              6261.0
..               ...               ...                 ...
146    Werder Bremen           14178.0              6587.0
147         West Ham           17285.0              7853.0
148        Willem II           20939.0              9754.0
149        Wolfsburg           15496.0              6494.0
150           Wolves           16440.0              8052.0

[151 rows x 3 columns]

In [9]:
# Dataframe con los tiempos efectivos de los partidos como visitante
df_tiempo_visitante = df_tiempo.loc[df_tiempo.localia == 'visitante'].reset_index(drop=True)
df_tiempo_visitante = df_tiempo_visitante.drop(columns=['jornada','localia','tiempo_defendiendo_local','competicion']).reset_index(drop=True)
df_tiempo_visitante = df_tiempo_visitante.groupby('equipo', as_index=False).sum()
df_tiempo_visitante = df_tiempo_visitante.rename(columns={'tiempo_defendiendo_visitante': 'tiempo_defendiendo'})
df_tiempo_visitante

              equipo  tiempo_acumulado  tiempo_defendiendo
0           AC Milan           15877.0              5716.0
1    AVS Futebol SAD           12861.0              6386.0
2         AZ Alkmaar           19529.0              7467.0
3    Adana Demirspor           15059.0              6089.0
4               Ajax           17258.0              5296.0
..               ...               ...                 ...
170    Werder Bremen           15717.0              5933.0
171         West Ham           15869.0              7414.0
172        Willem II           16804.0              8492.0
173        Wolfsburg           11827.0              5807.0
174           Wolves           15573.0              6526.0

[175 rows x 3 columns]

In [10]:
# Concatenación de los dos dataframes
df_tiempo_final = pd.concat([df_tiempo_local, df_tiempo_visitante]).reset_index(drop=True)
df_tiempo_final = df_tiempo_final.groupby('equipo', as_index=False).sum()
df_tiempo_final

              equipo  tiempo_acumulado  tiempo_defendiendo
0           AC Milan           32506.0             11957.0
1    AVS Futebol SAD           31639.0             14690.0
2         AZ Alkmaar           36820.0             14609.0
3    Adana Demirspor           29866.0             11750.0
4               Ajax           35849.0             11557.0
..               ...               ...                 ...
170    Werder Bremen           29895.0             12520.0
171         West Ham           33154.0             15267.0
172        Willem II           37743.0             18246.0
173        Wolfsburg           27323.0             12301.0
174           Wolves           32013.0             14578.0

[175 rows x 3 columns]

In [11]:
# Dataframe con el nº de faltas cometidas por cada equipo
df_faltas = df_datos[['equipo','accion']].loc[df_datos.accion == 'Falta cometida'].reset_index(drop=True)
df_faltas = df_faltas.rename(columns={'accion': 'faltas'})
df_faltas = df_faltas.groupby('equipo', as_index=False).count()
df_faltas

              equipo  faltas
0           AC Milan     105
1    AVS Futebol SAD     125
2         AZ Alkmaar     112
3    Adana Demirspor     108
4               Ajax      94
..               ...     ...
170    Werder Bremen      86
171         West Ham     133
172        Willem II     123
173        Wolfsburg     111
174           Wolves     127

[175 rows x 2 columns]

In [11]:
# Dataframe con el nº de jornadas disputadas    NO ES NECESARIO
#df_jornadas = df_datos[['equipo','competicion','jornada']].groupby(['equipo','competicion'], as_index=False).max()
#df_jornadas

In [12]:
# Dataframe final con las faltas de cada equipo y el tiempo efectivo
df_analisis = pd.merge(df_faltas, df_tiempo_final, how='left', on='equipo').merge(df_partidos, how='left', on='equipo').merge(df_coordenadas, 
                                how='left', on='equipo').merge(df_duelos_defensivos, how='left', on='equipo')
df_analisis.to_excel('analisis_faltas.xlsx', index=False)
df_analisis

,equipo,faltas,tiempo_acumulado,tiempo_defendiendo,competicion,partidos,x,x_duelos_defensivos
0,AC Milan,105,32506.0,11957.0,Serie A,10,60.214286,35.841695
1,AVS Futebol SAD,125,31639.0,14690.0,Liga Portugal,10,55.200000,33.573537
2,AZ Alkmaar,112,36820.0,14609.0,Eredivisie,11,51.717857,37.710707
3,Adana Demirspor,108,29866.0,11750.0,Super Lig,10,56.803704,32.776437
4,Ajax,94,35849.0,11557.0,Eredivisie,10,52.681915,38.534295
...,...,...,...,...,...,...,...,...
170,Werder Bremen,86,29895.0,12520.0,Bundesliga,9,55.823256,34.496732
171,West Ham,133,33154.0,15267.0,Premier League,10,53.244361,33.138211
172,Willem II,123,37743.0,18246.0,Eredivisie,11,52.179675,33.391441
173,Wolfsburg,111,27323.0,12301.0,Bundesliga,9,53.842342,34.540936
174,Wolves,127,32013.0,14578.0,Premier League,10,49.723622,31.554779