In [1]:
from sqlalchemy import create_engine, text
import pandas as pd

In [2]:
# Conexión con la base de datos
url = f'postgresql://postgres:sergio9494@localhost:5432/Futbol24-25'
#consulta = "SELECT jornada, equipo, localia, tiempo_acumulado, tiempo_defendiendo_local, tiempo_defendiendo_visitante, accion FROM \"partidos\" INNER JOIN \"eventos\" ON partidos.id_partido = eventos.id_partido WHERE partidos.competicion = 'LaLiga'"
consulta = "SELECT jornada, equipo, competicion, localia, tiempo_acumulado, tiempo_defendiendo_local, tiempo_defendiendo_visitante, accion FROM \"partidos\" INNER JOIN \"eventos\" ON partidos.id_partido = eventos.id_partido"
engine = create_engine(url)
resultado = engine.connect().execute((text(consulta)))
df_datos = pd.DataFrame(resultado.fetchall(), columns=resultado.keys())
df_datos

,jornada,equipo,competicion,localia,tiempo_acumulado,tiempo_defendiendo_local,tiempo_defendiendo_visitante,accion
0,1,Athletic Club,LaLiga,local,0.0,0.0,0.0,Pase
1,1,Athletic Club,LaLiga,local,3.0,0.0,3.0,Pase
2,1,Athletic Club,LaLiga,local,5.0,0.0,5.0,Duelo aereo
3,1,Getafe,LaLiga,visitante,5.0,0.0,5.0,Duelo aereo
4,1,Athletic Club,LaLiga,local,6.0,0.0,5.0,Pase
...,...,...,...,...,...,...,...,...
616407,10,Las Palmas,LaLiga,visitante,426.0,189.0,142.0,Gol recibido
616408,10,Valencia,LaLiga,local,1388.0,711.0,380.0,Gol recibido
616409,10,Valencia,LaLiga,local,1797.0,839.0,584.0,Gol recibido
616410,10,Valencia,LaLiga,local,2719.0,1111.0,1061.0,Gol recibido
616411,10,Las Palmas,LaLiga,visitante,3079.0,1244.0,1228.0,Gol recibido

In [3]:
# Dataframe con los tiempos efectivos de todos los partidos
df_tiempo = df_datos[['jornada','equipo','localia','tiempo_acumulado','tiempo_defendiendo_local','tiempo_defendiendo_visitante','competicion']]
df_tiempo = df_tiempo.groupby(['jornada','equipo'], as_index=False).max()
df_tiempo

,jornada,equipo,localia,tiempo_acumulado,tiempo_defendiendo_local,tiempo_defendiendo_visitante,competicion
0,1,AC Milan,local,3381.0,1255.0,1700.0,Serie A
1,1,Angers,local,2871.0,1233.0,993.0,Ligue 1
2,1,Arsenal,local,3057.0,1169.0,1314.0,Premier League
3,1,Aston Villa,visitante,3168.0,1319.0,1317.0,Premier League
4,1,Atalanta,visitante,3127.0,1333.0,1236.0,Serie A
...,...,...,...,...,...,...,...
785,10,Real Sociedad,visitante,3467.0,1570.0,1385.0,LaLiga
786,10,Real Valladolid,visitante,2593.0,759.0,1314.0,LaLiga
787,10,Sevilla,visitante,3255.0,805.0,2002.0,LaLiga
788,10,Valencia,local,3214.0,1265.0,1316.0,LaLiga
789,10,Villarreal,local,2391.0,807.0,932.0,LaLiga

In [4]:
# Contar el número de veces que aparece cada equipo para saber el nº de partidos que ha disputado
df_equipos = df_tiempo[['equipo','competicion']]
df_partidos = df_tiempo[['equipo']]
df_partidos = df_partidos.rename(columns={'equipo': 'partidos'})
df_partidos = pd.concat([df_equipos, df_partidos], axis=1)
df_partidos = df_partidos.groupby(['equipo','competicion'], as_index=False).count()
df_partidos

           equipo     competicion  partidos
0        AC Milan         Serie A         8
1          Angers         Ligue 1         8
2         Arsenal  Premier League         8
3     Aston Villa  Premier League         8
4        Atalanta         Serie A         8
..            ...             ...       ...
91     Villarreal          LaLiga        10
92  Werder Bremen      Bundesliga         7
93       West Ham  Premier League         8
94      Wolfsburg      Bundesliga         7
95         Wolves  Premier League         8

[96 rows x 3 columns]

In [5]:
# Dataframe con los tiempos efectivos de los partidos como local
df_tiempo_local = df_tiempo.loc[df_tiempo.localia == 'local'].reset_index(drop=True)
df_tiempo_local = df_tiempo_local.drop(columns=['jornada','localia','tiempo_defendiendo_visitante','competicion']).reset_index(drop=True)
df_tiempo_local = df_tiempo_local.groupby('equipo', as_index=False).sum()
df_tiempo_local = df_tiempo_local.rename(columns={'tiempo_defendiendo_local': 'tiempo_defendiendo'})
df_tiempo_local

           equipo  tiempo_acumulado  tiempo_defendiendo
0        AC Milan           13013.0              5187.0
1          Angers           12855.0              5091.0
2         Arsenal           12533.0              4395.0
3     Aston Villa           12931.0              4630.0
4        Atalanta            9488.0              3277.0
..            ...               ...                 ...
91     Villarreal           16259.0              7721.0
92  Werder Bremen           10796.0              5025.0
93       West Ham           13997.0              6264.0
94      Wolfsburg           12280.0              5828.0
95         Wolves           13284.0              6929.0

[96 rows x 3 columns]

In [6]:
# Dataframe con los tiempos efectivos de los partidos como visitante
df_tiempo_visitante = df_tiempo.loc[df_tiempo.localia == 'visitante'].reset_index(drop=True)
df_tiempo_visitante = df_tiempo_visitante.drop(columns=['jornada','localia','tiempo_defendiendo_local','competicion']).reset_index(drop=True)
df_tiempo_visitante = df_tiempo_visitante.groupby('equipo', as_index=False).sum()
df_tiempo_visitante = df_tiempo_visitante.rename(columns={'tiempo_defendiendo_visitante': 'tiempo_defendiendo'})
df_tiempo_visitante

           equipo  tiempo_acumulado  tiempo_defendiendo
0        AC Milan           12593.0              4579.0
1          Angers           12773.0              7171.0
2         Arsenal           13206.0              6655.0
3     Aston Villa           12732.0              5375.0
4        Atalanta           15459.0              5753.0
..            ...               ...                 ...
91     Villarreal           16599.0              7875.0
92  Werder Bremen           12255.0              4604.0
93       West Ham           12838.0              6125.0
94      Wolfsburg            8462.0              4311.0
95         Wolves           11960.0              4934.0

[96 rows x 3 columns]

In [7]:
# Concatenación de los dos dataframes
df_tiempo_final = pd.concat([df_tiempo_local, df_tiempo_visitante]).reset_index(drop=True)
df_tiempo_final = df_tiempo_final.groupby('equipo', as_index=False).sum()
df_tiempo_final

           equipo  tiempo_acumulado  tiempo_defendiendo
0        AC Milan           25606.0              9766.0
1          Angers           25628.0             12262.0
2         Arsenal           25739.0             11050.0
3     Aston Villa           25663.0             10005.0
4        Atalanta           24947.0              9030.0
..            ...               ...                 ...
91     Villarreal           32858.0             15596.0
92  Werder Bremen           23051.0              9629.0
93       West Ham           26835.0             12389.0
94      Wolfsburg           20742.0             10139.0
95         Wolves           25244.0             11863.0

[96 rows x 3 columns]

In [8]:
# Dataframe con el nº de faltas cometidas por cada equipo
df_faltas = df_datos[['equipo','accion']].loc[df_datos.accion == 'Falta cometida'].reset_index(drop=True)
df_faltas = df_faltas.rename(columns={'accion': 'faltas'})
df_faltas = df_faltas.groupby('equipo', as_index=False).count()
df_faltas

           equipo  faltas
0        AC Milan      76
1          Angers      96
2         Arsenal      96
3     Aston Villa      96
4        Atalanta     108
..            ...     ...
91     Villarreal     111
92  Werder Bremen      67
93       West Ham     118
94      Wolfsburg      92
95         Wolves     110

[96 rows x 2 columns]

In [9]:
# Dataframe con el nº de jornadas disputadas    NO ES NECESARIO
#df_jornadas = df_datos[['equipo','competicion','jornada']].groupby(['equipo','competicion'], as_index=False).max()
#df_jornadas

           equipo     competicion  jornada
0        AC Milan         Serie A        8
1          Angers         Ligue 1        7
2         Arsenal  Premier League        8
3     Aston Villa  Premier League        8
4        Atalanta         Serie A        7
..            ...             ...      ...
91     Villarreal          LaLiga        9
92  Werder Bremen      Bundesliga        6
93       West Ham  Premier League        8
94      Wolfsburg      Bundesliga        6
95         Wolves  Premier League        7

[96 rows x 3 columns]

In [9]:
# Dataframe final con las faltas de cada equipo y el tiempo efectivo
df_analisis = pd.merge(df_faltas, df_tiempo_final, how='left', on='equipo').merge(df_partidos, how='left', on='equipo')
df_analisis.to_excel('analisis_faltas.xlsx', index=False)
df_analisis

,equipo,faltas,tiempo_acumulado,tiempo_defendiendo,competicion,partidos
0,AC Milan,76,25606.0,9766.0,Serie A,8
1,Angers,96,25628.0,12262.0,Ligue 1,8
2,Arsenal,96,25739.0,11050.0,Premier League,8
3,Aston Villa,96,25663.0,10005.0,Premier League,8
4,Atalanta,108,24947.0,9030.0,Serie A,8
...,...,...,...,...,...,...
91,Villarreal,111,32858.0,15596.0,LaLiga,10
92,Werder Bremen,67,23051.0,9629.0,Bundesliga,7
93,West Ham,118,26835.0,12389.0,Premier League,8
94,Wolfsburg,92,20742.0,10139.0,Bundesliga,7
95,Wolves,110,25244.0,11863.0,Premier League,8