In [1]:
from sqlalchemy import create_engine, text
import pandas as pd

In [37]:
# Conexión con la base de datos
url = f'postgresql://postgres:sergio9494@localhost:5432/Futbol24-25'
consulta = "SELECT jornada, equipo, localia, tiempo_acumulado, tiempo_defendiendo_local, tiempo_defendiendo_visitante, accion FROM \"partidos\" INNER JOIN \"eventos\" ON partidos.id_partido = eventos.id_partido WHERE partidos.competicion = 'LaLiga'"
engine = create_engine(url)
resultado = engine.connect().execute((text(consulta)))
df_datos = pd.DataFrame(resultado.fetchall(), columns=resultado.keys())
df_datos

,jornada,equipo,localia,tiempo_acumulado,tiempo_defendiendo_local,tiempo_defendiendo_visitante,accion
0,1,Athletic Club,local,0.0,0.0,0.0,Pase
1,1,Athletic Club,local,3.0,0.0,3.0,Pase
2,1,Athletic Club,local,5.0,0.0,5.0,Duelo aereo
3,1,Getafe,visitante,5.0,0.0,5.0,Duelo aereo
4,1,Athletic Club,local,6.0,0.0,5.0,Pase
...,...,...,...,...,...,...,...
139179,9,Atletico,visitante,NaN,NaN,NaN,Final segunda parte
139180,9,Atletico,visitante,NaN,NaN,NaN,Final segunda parte
139181,9,Atletico,visitante,NaN,NaN,NaN,Final segunda parte
139182,9,Real Sociedad,local,52.0,43.0,2.0,Gol recibido
139183,9,Atletico,visitante,3093.0,676.0,1930.0,Gol recibido

In [38]:
# Dataframe con los tiempos efectivos de todos los partidos
df_tiempo = df_datos[['jornada','equipo','localia','tiempo_acumulado','tiempo_defendiendo_local','tiempo_defendiendo_visitante']]
df_tiempo = df_tiempo.groupby(['jornada','equipo'], as_index=False).max()
df_tiempo

,jornada,equipo,localia,tiempo_acumulado,tiempo_defendiendo_local,tiempo_defendiendo_visitante
0,1,Athletic Club,local,2435.0,557.0,1359.0
1,1,Atletico,visitante,3575.0,1668.0,1477.0
2,1,Barcelona,visitante,3223.0,1673.0,925.0
3,1,Celta Vigo,local,3055.0,866.0,1605.0
4,1,Deportivo Alaves,visitante,3055.0,866.0,1605.0
...,...,...,...,...,...,...
175,9,Real Sociedad,local,3449.0,759.0,2138.0
176,9,Real Valladolid,local,2885.0,1332.0,985.0
177,9,Sevilla,local,2877.0,1058.0,1203.0
178,9,Valencia,visitante,3069.0,944.0,1405.0
179,9,Villarreal,visitante,3803.0,1471.0,1917.0

In [39]:
# Dataframe con los tiempos efectivos de los partidos como local
df_tiempo_local = df_tiempo.loc[df_tiempo.localia == 'local'].reset_index(drop=True)
df_tiempo_local = df_tiempo_local.drop(columns=['jornada','localia','tiempo_defendiendo_visitante']).reset_index(drop=True)
df_tiempo_local = df_tiempo_local.groupby('equipo', as_index=False).sum()
df_tiempo_local = df_tiempo_local.rename(columns={'tiempo_defendiendo_local': 'tiempo_defendiendo'})
df_tiempo_local

              equipo  tiempo_acumulado  tiempo_defendiendo
0      Athletic Club           15762.0              6530.0
1           Atletico           14060.0              5916.0
2          Barcelona            9276.0              2092.0
3         Celta Vigo           17389.0              6831.0
4   Deportivo Alaves           11917.0              6683.0
5           Espanyol           15121.0              7156.0
6             Getafe           11972.0              3889.0
7             Girona           13260.0              4061.0
8         Las Palmas           16367.0              6286.0
9            Leganes           12800.0              5152.0
10          Mallorca           13196.0              6203.0
11           Osasuna           15134.0              6525.0
12    Rayo Vallecano           12153.0              4475.0
13        Real Betis           15959.0              5479.0
14       Real Madrid           18239.0              5197.0
15     Real Sociedad           14908.0              4718.0
16   Real Valladolid           15061.0              6445.0
17           Sevilla           14554.0              5226.0
18          Valencia           12944.0              5990.0
19        Villarreal           13868.0              6914.0

In [40]:
# Dataframe con los tiempos efectivos de los partidos como visitante
df_tiempo_visitante = df_tiempo.loc[df_tiempo.localia == 'visitante'].reset_index(drop=True)
df_tiempo_visitante = df_tiempo_visitante.drop(columns=['jornada','localia','tiempo_defendiendo_local']).reset_index(drop=True)
df_tiempo_visitante = df_tiempo_visitante.groupby('equipo', as_index=False).sum()
df_tiempo_visitante = df_tiempo_visitante.rename(columns={'tiempo_defendiendo_visitante': 'tiempo_defendiendo'})
df_tiempo_visitante

              equipo  tiempo_acumulado  tiempo_defendiendo
0      Athletic Club           12673.0              6264.0
1           Atletico           17911.0              8782.0
2          Barcelona           19007.0              5260.0
3         Celta Vigo           13190.0              5371.0
4   Deportivo Alaves           14108.0              6385.0
5           Espanyol           12893.0              6468.0
6             Getafe           10963.0              5984.0
7             Girona           17666.0              6044.0
8         Las Palmas           12829.0              3955.0
9            Leganes           15081.0              7246.0
10          Mallorca           15471.0              6433.0
11           Osasuna           11676.0              5307.0
12    Rayo Vallecano           14014.0              6550.0
13        Real Betis           12962.0              5568.0
14       Real Madrid           14110.0              5152.0
15     Real Sociedad           11983.0              3660.0
16   Real Valladolid           12720.0              6399.0
17           Sevilla           12261.0              4048.0
18          Valencia           15934.0              7044.0
19        Villarreal           16599.0              7875.0

In [41]:
# Concatenación de los dos dataframes
df_tiempo_final = pd.concat([df_tiempo_local, df_tiempo_visitante]).reset_index(drop=True)
df_tiempo_final = df_tiempo_final.groupby('equipo', as_index=False).sum()
df_tiempo_final

              equipo  tiempo_acumulado  tiempo_defendiendo
0      Athletic Club           28435.0             12794.0
1           Atletico           31971.0             14698.0
2          Barcelona           28283.0              7352.0
3         Celta Vigo           30579.0             12202.0
4   Deportivo Alaves           26025.0             13068.0
5           Espanyol           28014.0             13624.0
6             Getafe           22935.0              9873.0
7             Girona           30926.0             10105.0
8         Las Palmas           29196.0             10241.0
9            Leganes           27881.0             12398.0
10          Mallorca           28667.0             12636.0
11           Osasuna           26810.0             11832.0
12    Rayo Vallecano           26167.0             11025.0
13        Real Betis           28921.0             11047.0
14       Real Madrid           32349.0             10349.0
15     Real Sociedad           26891.0              8378.0
16   Real Valladolid           27781.0             12844.0
17           Sevilla           26815.0              9274.0
18          Valencia           28878.0             13034.0
19        Villarreal           30467.0             14789.0

In [42]:
# Dataframe con el nº de faltas cometidas por cada equipo
df_faltas = df_datos[['equipo','accion']].loc[df_datos.accion == 'Falta cometida'].reset_index(drop=True)
df_faltas = df_faltas.rename(columns={'accion': 'faltas'})
df_faltas = df_faltas.groupby('equipo', as_index=False).count()
df_faltas

              equipo  faltas
0      Athletic Club     114
1           Atletico      91
2          Barcelona      70
3         Celta Vigo      91
4   Deportivo Alaves     136
5           Espanyol     111
6             Getafe     141
7             Girona      97
8         Las Palmas     104
9            Leganes     121
10          Mallorca     111
11           Osasuna     116
12    Rayo Vallecano     139
13        Real Betis     114
14       Real Madrid      79
15     Real Sociedad     111
16   Real Valladolid     126
17           Sevilla     117
18          Valencia      97
19        Villarreal      94

In [43]:
# Dataframe con el nº de jornadas disputadas
df_jornadas = df_datos[['equipo','jornada']].groupby('equipo', as_index=False).max()
df_jornadas

              equipo  jornada
0      Athletic Club        9
1           Atletico        9
2          Barcelona        9
3         Celta Vigo        9
4   Deportivo Alaves        9
5           Espanyol        9
6             Getafe        9
7             Girona        9
8         Las Palmas        9
9            Leganes        9
10          Mallorca        9
11           Osasuna        9
12    Rayo Vallecano        9
13        Real Betis        9
14       Real Madrid        9
15     Real Sociedad        9
16   Real Valladolid        9
17           Sevilla        9
18          Valencia        9
19        Villarreal        9

In [44]:
# Dataframe final con las faltas de cada equipo y el tiempo efectivo
df_analisis = pd.merge(df_faltas, df_tiempo_final, how='left', on='equipo').merge(df_jornadas, how='left', on='equipo')
df_analisis.to_excel('analisis_faltas.xlsx', index=False)
df_analisis

              equipo  faltas  tiempo_acumulado  tiempo_defendiendo  jornada
0      Athletic Club     114           28435.0             12794.0        9
1           Atletico      91           31971.0             14698.0        9
2          Barcelona      70           28283.0              7352.0        9
3         Celta Vigo      91           30579.0             12202.0        9
4   Deportivo Alaves     136           26025.0             13068.0        9
5           Espanyol     111           28014.0             13624.0        9
6             Getafe     141           22935.0              9873.0        9
7             Girona      97           30926.0             10105.0        9
8         Las Palmas     104           29196.0             10241.0        9
9            Leganes     121           27881.0             12398.0        9
10          Mallorca     111           28667.0             12636.0        9
11           Osasuna     116           26810.0             11832.0        9
12    Rayo Vallecano     139           26167.0             11025.0        9
13        Real Betis     114           28921.0             11047.0        9
14       Real Madrid      79           32349.0             10349.0        9
15     Real Sociedad     111           26891.0              8378.0        9
16   Real Valladolid     126           27781.0             12844.0        9
17           Sevilla     117           26815.0              9274.0        9
18          Valencia      97           28878.0             13034.0        9
19        Villarreal      94           30467.0             14789.0        9